@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-weight: 800;
    font-style: bold;
    text-decoration: underline;
    font-size: 24px;
    color:slategray;
}

p {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}